<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ROP Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">R.O.P.</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://localhost:9000">Home</a></li>
          <li><a href="http://localhost:9000/userIntroduction">Introduction for service users </a></li>
          <li><a href="http://localhost:9000/providerIntroduction">Introduction for service providers</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:9000/renderRegister"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="http://localhost:9000/renderSignIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1>Research Outsourcing Platform</h1>
      <p>Help services users and providers connect and make research easy!</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>For users:</h3>
          <p>Find academic providers easier;</p>
          <p>Check on projects through different ways;</p>
          <p>Rate, comment and recommand services based on their experience</p>
          <p>...</p>
        </div>
        <div class="col-sm-4">
          <h3>For providers:</h3>
          <p>Publish their projects and services;</p>
          <p>Edit their projects and services;</p>
          <p>Enable their services and projects be found easily</p>
          <p>...</p>
        </div>
        <div class="col-sm-4">
          <h3>Help connection:</h3>
          <p>Email based communication between users and providers</p>
          <p>Free contract generation and sending service</p>
          <p>...</p>
        </div>
      </div>
    </div>

  </body>
</html>
