@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Navigation</title>
    </head>

    <body>
        <h1>Select These Four Selections</h1>
        <FORM method="POST" action="/SignIn">
            User ID:<INPUT type="text" name="userid" size="35"><br>
            Password:<INPUT type="text" name="password" size="35"><br>
            <br>
            <l1>@message</l1>
            <br>
            <select name = "selection">
              <option value="User">User</option>
              <option value="Provider">Provider</option>
            </select>
            
            <br>
            <br>
            <INPUT type="submit" name="signInSubmit" value="signin">
            <INPUT type="submit" name="RegSubmit" value="register">
        </FORM>
    </body>
</html>